.flex-info{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 3rem;
    height: 100vh;
}

.left-component{
    width: 50%;
}

.track-crypto-heading, .real-time-heading{
    font-size: 6.5rem;
    margin: 0;
}

.track-crypto-heading{
    color: var(--white);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--white);
}

.real-time-heading{
    color: var(--blue);
}

.track-crypto-heading:hover{
    -webkit-text-stroke-color: var(--white);
    color: var(--black);
    transition: all 0.5s;
}

.info-text{
    font-size: 1rem;
    color: var(--grey);

}

.btn-flex{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}


.right-component{
    width: 50%;
    position: relative;
    padding: 1rem;
}

.iphone{
    position: absolute;
    z-index: 99;
    min-width: 300px;
    width: 50%;
    right: 4rem;
}

.gradient{
    position: absolute;
    width: 40%;
    min-width: 250px;
    top: 8rem;
    right: 4rem;
}

@media only screen and (max-width: 1185px){
    
    .flex-info{
        height: 80vh;
    }

    .track-crypto-heading, .real-time-heading{
        font-size: 5.8rem;
    }

    .iphone{
        min-width: 260px;
        width: 50%;
    }
    
    .gradient{
        width: 40%;
        min-width: 210px;
    }

}

@media only screen and (max-width: 1219px){
    
    .flex-info{
        height: 80vh;
    }

    .track-crypto-heading, .real-time-heading{
        font-size: 5.5rem;
    }

    .right-component{
        width: 30%;
    }

    .iphone{
        min-width: 240px;
        width: 50%;
    }
    
    .gradient{
        width: 40%;
        min-width: 190px;
    }

}

@media only screen and (max-width: 991px){

    .flex-info{
        height: 70vh;
    }

    .track-crypto-heading, .real-time-heading{
        font-size: 4.5rem;
    }

    .iphone{
        min-width: 220px;
        width: 50%;
    }
    
    .gradient{
        width: 40%;
        min-width: 170px;
    }
}

@media only screen and (max-width: 830px){

    .track-crypto-heading, .real-time-heading{
        font-size: 4.5rem;
    }

    .left-component{
        width: 60%;
    }

    .right-component{
        width: 40%;
    }

    .iphone{
        min-width: 200px;
        width: 50%;
    }
    
    .gradient{
        width: 40%;
        min-width: 150px;
    }
}

@media only screen and (max-width: 800px){
   .flex-info{
        flex-direction: column;
        height: 100vh;
    }

    .left-component{
        width: 100%;
    }

    .track-crypto-heading, .real-time-heading{
        font-size: 3rem;
        text-align: center;
    }

    .track-crypto-heading{
        -webkit-text-stroke-width: 1px;
    }

    .info-text{
        text-align: center;
        font-size: 0.8rem;
    }

    .btn-flex{
        justify-content: center;
    }

    .right-component{
        margin: auto;
        height: 100vh;
    }

    .iphone{
        margin-top: 1rem;
        min-width: 230px;
        left: 10%;
    }

    .gradient{
        left: 30%;
        min-width: 175px;
    }

}