.footer-component{
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 211, 211);
    padding: 1rem 2rem;
    width: 85%;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media only screen and (max-width:1100px){
    .footer-component{
        font-size: 0.7rem;
        padding: 1rem 2rem;
        width: 85%;
    }
}

@media only screen and (max-width:550px){
    .footer-component{
        font-size: 0.6rem;
        width: 80%;
    }
}
